<a href="https://colab.research.google.com/github/jidhux/00/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input())
if num>0:
  print("absolute value of" , num,"is",num)
else:
  num=num*(-1)
  print("absolute value of" , num,"is",num)

-4
absolute value of 4 is 4

In [ ]:
x=int(input("enter the mark"))
if x<25:
  print("F")
elif x>25 and x<=45:
  print("e")
elif x>45 and x<=50:
  print("d")
elif x>50 and x<=60:
  print("c")
elif x>60 and x<=80:
  print("b")
elif x>80:
  print("a")

enter the mark81
a

In [ ]:
x=int(input("enter number of classes held"))
y=int(input("enter number of classes attended"))
z=y/x*100
if z>75:
  print(z,"eligible for test")
elif z<75:
  print(z,"not eligible for test")

enter number of classes held10
enter number of classes attended9
90.0 eligible for test

In [ ]:
print("1.addition")
print("2.substraction")
print("3.division")
print("4.multiplication")
print("5.modulus")
print("6.floor division")
print("7.exponent")
z=int(input("enter a number"))
x=int(input("first number"))
y=int(input("second number"))
if z==1:
  print(x+y)
if z==2:
  print(x-y)
if z==3:
  print(x/y)
if z==4:
  print(x*y)
if z==5:
  print(x%y)
if z==6:
  print(x//y)
if z==7:
  print(x**y)

1.addition
2.substraction
3.division
4.multiplication
5.modulus
6.floor division
7.exponent
enter a number1
first number22
second number1
23

In [66]:
m1=int(input("enter marks of first sub"))
m2=int(input("enter marks of second sub"))
m3=int(input("Enter marks of 3rd sub"))
m4=int(input("Enter martks of 4th sub"))
m5=int(input("enter marks of 5th sub"))
print (min(m1,m2,m3,m4,m5))
print (max(m1,m2,m3,m4,m5))
print (m1+m2+m3+m4+m5/5)

enter marks of first sub1
enter marks of second sub2
Enter marks of 3rd sub3
Enter martks of 4th sub4
enter marks of 5th sub5
1
5
11.0

In [ ]:
5323