<a href="https://colab.research.google.com/github/jidhux/00/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
mark=int(input("enter your marks"))
if mark >50 :
  print("you are passed")
if mark <50 :
  print("you are failed")
if mark==50 :
  print("just passed")

enter your marks10
you are failed

In [36]:
salary=int(input("enter your salary"))
if salary >250000 :
  y=salary-250000
  print("you are taxable","your interest is",y*10/100)
if salary <250000 :
  print("you are not taxable")

enter your salary300000
you are taxable your interest is 5000.0

In [47]:
salary=int(input("enter your salary"))
if salary<250000 and salary<500000 :
  y=salary10/100
  print("you are taxable","your interest amount is",y)
if salary>500000 and salary<=1000000 :
  z=salary*20/100
  print("you are taxable","your interest amount is",z)

enter your salary800000
you are taxable your interest amount is 160000.0